body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.logo {
    width: 80px;
    height: 80px;
}

.sponsor {
    width: 150px;
    height: 150px;
}

.btn {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.imageTop {
    height: 498px;
}