@media screen {
    .sponsor {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .nav-link {
        font-size: 0.9rem;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .sponsor {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 576px) {
    .sponsor {
        width: 75px;
        height: 75px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

label {
    font-weight: 700;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}

.navbar-custom {
    color: black !important;
}

.navbar-custom:hover {
    color: white !important;
}

.navbar-light .navbar-toggler {
    color: black;
    border: 0;
    font-size: 1.5rem;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.active {
    text-decoration: underline 2px !important;
    text-underline-offset: 0.35rem;
}

.bgYello {
    background-color: #ffd100;
}

.puce {
    width: 22px;
    height: 22px;
    background-color: #ffd100;
}

.btn {
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    background-color: black;
    border-color: black;
    color: #ffd100;
}

.btn-primary {
    background-color: #ffd100;
    color: black;
    border-color: #ffd100;
}

.btn-primary:hover {
    background-color: black;
    color: #ffd100;
    border-color: black;
}

.btn-outline-primary {
    color: black;
    border-color: black;
}

.btn-outline-primary:hover {
    background-color: black;
    color: white;
    border-color: black;
}

#hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.heroShadow {
    text-shadow: 0.2rem 0.2rem black;
}

.imgMinHeight {
    min-height: 250px;
}

.heureSeance,
.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.imageTop {
    height: 498px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-check-label {
    font-weight: normal;
    text-transform: none;
}

.rappel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.carouselText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.lienFC:hover {
    color: #ffd100;
}