@media screen {
    .sponsor {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .nav-link {
        font-size: 0.9rem;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .sponsor {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 576px) {
    .sponsor {
        width: 75px;
        height: 75px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/* .logo {
    width: 80px;
    height: 80px;
} */

/* .bgNavbar {
    background-color: #ffd100;
} */

.puce {
    width: 22px;
    height: 22px;
    background-color: black;
}

/* .sponsor {
    width: 150px;
    height: 150px;
} */

.btn {
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.heroShadow {
    text-shadow: 0.2rem 0.2rem black;
}

/* /* .imgHero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.0)),
        url('../img/4846309.svg');
background-image: url('../img/4846309.svg');
} */

.imgMinHeight {
    min-height: 250px;
}

.heureSeance,
.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.imageTop {
    height: 498px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

label {
    font-weight: 700;
}

.form-check-label {
    font-weight: normal;
    text-transform: none;
}

.rappel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}